@import 'partials/constants' ;
@import 'partials/global' ;
@import 'partials/reset' ;

@import 'partials/header';
@import 'partials/footer';

@import 'partials/buttons' ;
@import 'partials/cards/index' ;

@import 'pages/home';
@import 'pages/restaurant';


html {
    border: 1px solid grey;
    margin: auto;
    max-width: 600px;
}
