/*RESET*/
html, body {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
}

button {
  border: none;
}

html, body {
  font-family: 'Roboto';
  font-weight: 100;
  height: 100%;
}

h1 {
  font-family: 'Shrikhand';
}

img {
  width: 100%;
  height: 100%;
}

h1, h2 {
  margin: 0;
  margin-bottom: 1em;
}

@-webkit-keyframes hideLoading {
  0% {
    opacity: 1;
    z-index: 1;
  }
  90% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes hideLoading {
  0% {
    opacity: 1;
    z-index: 1;
  }
  90% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes cardMenuDisplay {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  90% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cardMenuDisplay {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  90% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes rotateCoche {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateCoche {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5em 2em;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  position: relative;
}

header .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header .row .redirect {
  position: absolute;
}

header .row .logo {
  margin: auto;
}

header .fa-arrow-left {
  font-size: 2em;
}

header .logo {
  font-size: 3em;
  font-family: 'Shrikhand';
}

header .logo a:hover {
  text-decoration: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.5em;
  padding: 1.5em 2em;
  background-color: #353535;
  font-size: 1em;
}

footer .footer__title {
  font-size: 2.5em;
  font-family: 'Shrikhand';
}

footer .footer__title a:hover {
  text-decoration: none;
}

footer a {
  font-weight: 400;
  color: white;
}

footer a:hover {
  text-decoration: underline;
}

button.btn-explore, button.btn-validation {
  padding: 1em;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(13%, #9356dc), color-stop(92%, #ff79da));
  background: linear-gradient(0deg, #9356dc 13%, #ff79da 92%);
  font-size: 1em;
  -webkit-transition: opacity .5s, -webkit-box-shadow .2s;
  transition: opacity .5s, -webkit-box-shadow .2s;
  transition: opacity .5s, box-shadow .2s;
  transition: opacity .5s, box-shadow .2s, -webkit-box-shadow .2s;
}

button.btn-explore:hover, button.btn-validation:hover {
  opacity: 0.8;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.2) 1.95px 1.95px 2.6px;
}

button.btn-like {
  background-color: transparent;
  -webkit-transition: color 1s;
  transition: color 1s;
  -webkit-transform: color;
          transform: color;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  position: relative;
}

button.btn-like .fa-heart {
  position: absolute;
  right: 10%;
  top: 50%;
  line-height: 0;
}

button.btn-like .fa-heart:first-child {
  color: white;
  font-size: 2em !important;
  z-index: 1;
}

button.btn-like .fa-heart:last-child {
  color: black;
  font-size: 2.4em !important;
  -webkit-transform: translateX(0.08em);
          transform: translateX(0.08em);
}

button.btn-like:hover .fa-heart {
  color: #FF79DA;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.card-howitworks {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.2em;
          column-gap: 1.2em;
  height: 6em;
  padding: 1em;
}

.card-howitworks {
  position: relative;
}

.card-howitworks .card__number {
  position: absolute;
  left: -15px;
}

.card-howitworks .card__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  font-size: 1.1em;
  font-weight: bold;
  color: white;
  background-color: #9356DC;
}

.card-howitworks .card__icon {
  margin-left: 0.8em;
  font-size: 1.9em;
  color: #353535;
}

.card-howitworks .card__text {
  font-size: 1.3em;
  font-weight: 400;
}

.card-howitworks:hover {
  background-color: #f5edff;
}

.card-howitworks:hover .card__icon {
  color: #9356DC;
}

.card-restaurant-intro {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20em;
  overflow: hidden;
  position: relative;
}

.card-restaurant-intro .card__alert {
  position: absolute;
  right: 1em;
  top: 1em;
  padding: .5em .8em;
  border-radius: 3px;
  background-color: #99E2D0;
  color: #008766;
  font-size: 1em;
  font-weight: bold;
}

.card-restaurant-intro .card__image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card-restaurant-intro .card__body {
  height: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  background-color: white;
}

.card-restaurant-intro .card__title {
  font-size: 1.2em;
  font-weight: bold;
}

.card-restaurant-intro .card__subtitle {
  font-size: 1.1em;
  font-weight: 300;
}

.card-restaurant-intro .fa-heart {
  font-size: 1.8em;
}

.card-restaurant-menu {
  height: 6em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  overflow: hidden;
  padding-left: 1em;
}

.card-restaurant-menu .card__body {
  overflow: hidden;
  padding: 1.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card-restaurant-menu .card__body .card__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-restaurant-menu .card__body .card__text .card__title {
  font-size: 1.2em;
  font-weight: bold;
}

.card-restaurant-menu .card__body .card__text .card__subtitle {
  font-size: 1em;
  font-weight: 300;
}

.card-restaurant-menu .card__body .card__price {
  width: 20%;
  padding-right: 1em;
  padding-left: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: bold;
  font-size: 1em;
}

.card-restaurant-menu .card__validation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-color: #99E2D0;
  -webkit-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}

.card-restaurant-menu .card__validation .fa-circle-check {
  color: white;
  font-size: 2em;
}

.card-restaurant-menu .card__validation {
  width: 0;
}

.card-restaurant-menu:hover .card__validation {
  width: 15%;
}

.card-restaurant-menu:hover .fa-circle-check {
  -webkit-animation: rotateCoche 1s linear;
          animation: rotateCoche 1s linear;
}

.card-restaurant-menu .card__text {
  overflow: hidden;
}

.card-restaurant-menu .card__text .card__title, .card-restaurant-menu .card__text .card__subtitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 15px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.2);
}

.cards .card .card__image {
  overflow: hidden;
}

.cards .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.loading {
  -webkit-animation: hideLoading 0s forwards;
          animation: hideLoading 0s forwards;
  background-color: white;
  opacity: 0.9;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: 400;
  background-color: #f3f3f3;
  min-height: 60px;
}

.location .location__icon {
  font-size: 25px;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

.location .location__text {
  color: #353535;
}

.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #f6f6f6;
  padding: 2em 3em;
}

.presentation h1 {
  font-family: 'Roboto';
  font-size: 1.8em;
}

.presentation h2 {
  font-size: 1.5em;
  font-weight: 100;
}

.howitworks {
  padding: 2em;
}

.howitworks .cards {
  row-gap: 2em;
}

@media screen and (min-width: 992px) {
  .howitworks .cards {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .howitworks .card {
    -ms-flex-preferred-size: 28%;
        flex-basis: 28%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .howitworks .cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .howitworks .card {
    -ms-flex-preferred-size: 42%;
        flex-basis: 42%;
  }
}

@media screen and (max-width: 767px) {
  .howitworks .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.restaurants {
  background-color: #f6f6f6;
  padding: 2em 1.5em;
}

.restaurants .cards {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1.5em;
}

@media screen and (min-width: 992px) {
  .restaurants .card {
    -ms-flex-preferred-size: 24%;
        flex-basis: 24%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .restaurants .card {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}

@media screen and (max-width: 767px) {
  .restaurants .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.restaurants__title, .howitworks__title {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 1em;
}

.restaurant__top-image .image-wrapper {
  max-height: 400px;
  overflow: hidden;
}

.restaurant__top-image img {
  position: relative;
  z-index: -1;
}

.restaurant-menu {
  margin-top: -50px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1em;
  padding: 1em;
  background-color: #f3f3f3;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.restaurant-menu h3 {
  font-size: 1.5em;
  text-transform: uppercase;
}

.restaurant-menu h3::after {
  display: block;
  content: '';
  height: 10px;
  width: 60px;
  border-bottom: 5px solid #99E2D0;
}

.restaurant-menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurant-menu__header h1 {
  margin: 0;
  font-size: 2.5em;
}

.restaurant-menu__header button {
  margin: 0;
}

.restaurant-menu__validation {
  margin: 1em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 768px) {
  .restaurant-menu {
    padding: 1em 2.5em;
  }
}

.restaurant-menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.restaurant-menu__content .cards {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2em;
}

.restaurant-menu__content .menu-container:first-child .cards card:first-child {
  -webkit-animation: cardMenuDisplay 0.3s linear;
          animation: cardMenuDisplay 0.3s linear;
}

.restaurant-menu__content .menu-container:first-child .cards .card:nth-child(2) {
  -webkit-animation: cardMenuDisplay 0.6s linear;
          animation: cardMenuDisplay 0.6s linear;
}

.restaurant-menu__content .menu-container:first-child .cards .card:nth-child(3) {
  -webkit-animation: cardMenuDisplay 0.9s linear;
          animation: cardMenuDisplay 0.9s linear;
}

.restaurant-menu__content .menu-container:first-child .cards .card:nth-child(4) {
  -webkit-animation: cardMenuDisplay 1.2s linear;
          animation: cardMenuDisplay 1.2s linear;
}

.restaurant-menu__content .menu-container:nth-child(2) .cards .card:first-child {
  -webkit-animation: cardMenuDisplay 1.2s linear;
          animation: cardMenuDisplay 1.2s linear;
}

.restaurant-menu__content .menu-container:nth-child(2) .cards .card:nth-child(2) {
  -webkit-animation: cardMenuDisplay 1.5s linear;
          animation: cardMenuDisplay 1.5s linear;
}

.restaurant-menu__content .menu-container:nth-child(2) .cards .card:nth-child(3) {
  -webkit-animation: cardMenuDisplay 1.8s linear;
          animation: cardMenuDisplay 1.8s linear;
}

.restaurant-menu__content .menu-container:nth-child(3) .cards .card:first-child {
  -webkit-animation: cardMenuDisplay 1.8s linear;
          animation: cardMenuDisplay 1.8s linear;
}

.restaurant-menu__content .menu-container:nth-child(3) .cards .card:nth-child(2) {
  -webkit-animation: cardMenuDisplay 2.1s linear;
          animation: cardMenuDisplay 2.1s linear;
}

.restaurant-menu__content .menu-container:nth-child(3) .cards .card:nth-child(3) {
  -webkit-animation: cardMenuDisplay 2.4s linear;
          animation: cardMenuDisplay 2.4s linear;
}

@media screen and (min-width: 992px) {
  .restaurant-menu__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .restaurant-menu__content .menu-container {
    width: 32%;
  }
  .restaurant-menu__content .cards {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .restaurant-menu__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .restaurant-menu__content .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .restaurant-menu__content .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=index.css.map */