.cards {
    
    $debug-cards-flexdirection: column;
    $debug-card-maxwidth: 600px;

    display: flex;
    
    flex-direction: $debug-cards-flexdirection;

    .card {    
        
        display: flex;
        overflow: hidden;

        max-width: $debug-card-maxwidth;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}