html, body {

    font-family: 'Roboto';
    font-weight: 100;
}

h1 {
    font-family: 'Shrikhand';
}

img {
    max-width: 100%;
}

button {
    padding: 1em;
    border-radius: 20px;
    border: none;
    color: white;
    background: linear-gradient(0deg, rgba(147,86,220,1) 13%, rgba(255,121,218,1) 92%);
}