@keyframes displayWithDelay {
    0% { opacity: 0; }
    90% { opacity: 0.9; }
    100% { opacity: 1; }
}

@mixin delayedDisplay($delay: 0.5s) {
    animation: displayWithDelay $delay forwards;
}

@keyframes hideLoading {
    0% { opacity: 1; z-index: 1; }
    90% { opacity: 1; z-index: 1; }
    100% { opacity: 0; z-index: -1; }
}
