button.btn-explore, button.btn-validation {
    padding: 1em;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    background: linear-gradient(0deg, rgba(147,86,220,1) 13%, rgba(255,121,218,1) 92%);
    font-size: 1em;

    transition: opacity .5s, box-shadow .2s;

    &:hover {
        opacity: 0.8;
        box-shadow: rgba(0, 0, 0, 0.2) 1.95px 1.95px 2.6px;
    }

}

button.btn-like {
    background-color: transparent;
    transition: color 1s;
    transform: color;
    transform-origin: bottom;

    &:hover {
        color: $pink;
    }

}