button.btn-explore, button.btn-validation {
    padding: 1em;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    background: linear-gradient(0deg, rgba(147,86,220,1) 13%, rgba(255,121,218,1) 92%);
    font-size: 1em;

    transition: opacity .5s, box-shadow .2s;

    &:hover {
        opacity: 0.8;
        box-shadow: rgba(0, 0, 0, 0.2) 1.95px 1.95px 2.6px;
    }

}

.btn-like {
    background-color: transparent;
    cursor: pointer;

    $likeBtn-size : 2.6em;
    height: $likeBtn-size;
    width:  $likeBtn-size;

    position: relative;

    svg {
        position: absolute;
        right: 0;
        top: 0;
        line-height: 0;
    }

    // first heart is smaller
    svg:first-child {
        height:  $likeBtn-size - 0.8em;
        transform: translateX(-0.3em) translateY(0.3em);
        z-index: 1;
        fill: white ;
    }

    svg:last-child {
        height:  $likeBtn-size - 0.2em;
        fill: black ;
    }

    /**COLOR ANIMATION*/

    // gradient color
    #pink-to-violet-gradient {
        stop:first-child {
            stop-color: $pink;
        }
        stop:last-child {
            stop-color: $violet;
        }
    }

    // fadeIn with opacity on top heart 
    svg:first-child path {
        transition: opacity 1s;
    }

    // transition when hovering button
    &:hover {

        svg:first-child path {
            opacity: 0;
        }

        svg:last-child path {
            fill: url('#pink-to-violet-gradient');
        }
    }

}