button.btn-explore, button.btn-validation {
    padding: 1em;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    background: linear-gradient(0deg, rgba(147,86,220,1) 13%, rgba(255,121,218,1) 92%);
    font-size: 1em;

    transition: opacity .5s, box-shadow .2s;

    &:hover {
        opacity: 0.8;
        box-shadow: rgba(0, 0, 0, 0.2) 1.95px 1.95px 2.6px;
    }

}

button.btn-like {
    background-color: transparent;
    /*transition: fill 1s;
    transform: fill;
    transform-origin: bottom;
    */
    $likeBtn-size : 3em;
    height: $likeBtn-size;
    width:  $likeBtn-size;

    position: relative;

    transition: fill 3s;

    &:hover svg path {
        fill: url('#pink-to-violet-gradient') !important;
    }

    linearGradient {
        stop:first-child {
            stop-color: $pink;
        }
        stop:last-child {
            stop-color: $violet;
        }
    }

    svg {
        position: absolute;
        right: 0;
        top: 0;
        line-height: 0;
    }

    svg:first-child {
        height:  $likeBtn-size - 0.8em;
        transform: translateX(-0.3em) translateY(0.3em);
        z-index: 1;
        path {
            fill: white;
        }
    }

    svg:last-child {
        height:  $likeBtn-size - 0.2em;
        path {
            fill: black;
        }
    }
    

}