// BREAKPOINTS
$lg-minwidth : 992px;
$md-maxwidth : $lg-minwidth - 1px;
$md-minwidth : 768px;
$sm-maxwidth : $md-minwidth - 1px;


// COLORS
$pink : #FF79DA ;

$violet : #9356DC ;
$lightviolet : #f5edff;

$turquoise : #99E2D0 ;
$green: #008766;

$grey : #e3e3e3 ;
$lightgrey : #f3f3f3;
$lightgrey2: #f6f6f6;

$dark : #353535 ;

// HOWITWORKS 
$howitworks__card-height : 6em;
$howitworks__card__number-size : 40px;

// RESTAURANT INTRO
$restaurant-intro__card-height : 20em;
$restaurant-intro__card__body-height : 5em;

// RESTAURANT MENU
$restaurant-menu__card-height : 6em;
