// BREAKPOINTS
$largescreen-minwidth : 992px;
$mediumscreen-minwidth : 768px;
$mediumscreen-maxwidth : $largescreen-minwidth - 1px;
$smallscreen-maxwidth : 2000px;


// COLORS
$pink : #FF79DA ;

$violet : #9356DC ;
$lightviolet : #f5edff;

$turquoise : #99E2D0 ;
$green: #008766;

$grey : #e3e3e3 ;
$lightgrey : #f3f3f3;
$lightgrey2: #f6f6f6;

$dark : #353535 ;

// HOME PAGE 
$home__card__number-size : 40px;
$home__card__howitworks-height: 6em;
$home__card__restaurant-height: 20em;

// RESTAURANT PAGE 
$restaurant__card-menu-height : 5em;