footer {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;

    padding: 1.5em 2em;
    background-color: $dark;
    font-size: 1em;

    .footer__title {
        font-size: 2.5em;
        font-family: 'Shrikhand';

        a:hover {
            text-decoration: none;
        }
    }

    a {
        font-weight: 400;
        color: white;

        &:hover {
            text-decoration: underline;
        }
    }

}
