.loading {

    animation: hideLoading 2s forwards;    

    background-color: white;
    opacity: 0.9;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left : 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

