.location {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    font-weight: 400;
    background-color: $lightgrey;
    min-height: 60px;
    
    .location__icon {
        font-size: 25px;
        transform: translateX(-20px);
    }

    .location__text {
        color: $dark;
    }

}

.presentation {
    display: flex;
    flex-direction: column;
    text-align: center;

    background-color:$lightgrey2;
    padding: 2em 3em;

    h1 {
        font-family: 'Roboto';
        font-size: 1.8em;
    }
    
    h2 {
        font-size: 1.5em;
        font-weight: 100;
    }

}


.howitworks {

    padding: 2em;
    
    .cards {
        row-gap: 2em;
    }


    // LARGE
    @media screen and (min-width: $lg-minwidth) {
        .cards {
            justify-content: space-between;
        }

        .card {
            flex-basis: 28%;
        }
    }

    // MEDIUM
    @media screen and (min-width: $md-minwidth) and (max-width: $md-maxwidth) {
        .cards {
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        .card {
            flex-basis: 42%;
        }
    }

    // SMALL
    @media screen and (max-width: $sm-maxwidth) {
        .cards {
            flex-direction: column;
        }
    }
}

.restaurants {

    background-color: $lightgrey2;
    padding: 2em 1.5em;

    .cards {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 1.5em;
    }

    // LARGE
    @media screen and (min-width: $lg-minwidth) {
        .card {
            flex-basis: 24%;
        }
    }

    // MEDIUM
    @media screen and (min-width: $md-minwidth) and (max-width: $md-maxwidth) {
        .card {
            flex-basis: 48%;
        }
    }

    // SMALL
    @media screen and (max-width: $sm-maxwidth) {
        .cards {
            flex-direction: column;
        }
    }

}

.restaurants__title, .howitworks__title {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 1em;
}
