.restaurant__top-image {

    .image-wrapper {
        max-height: 400px;
        overflow: hidden;
    }

    img {
        position: relative;
        z-index: -1;
    }

}

.restaurant-menu {
    margin-top: -50px;
    z-index: 1;

    display: flex;
    flex-direction: column;
    row-gap: 1em;

    padding: 1em;
    background-color: $lightgrey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    h3 {
        font-size: 1.5em;
        text-transform: uppercase;

        &::after {
            display: block;
            content: '';
            height: 10px;
            width: 60px;
            border-bottom: 5px solid $turquoise;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        h1 {
            margin: 0;
            font-size: 2.5em;
        }
        
        button {
            margin: 0;
        }

        .fa-heart {
            font-size: 3em;
        }
    }

    &__validation {
        margin: 1em;
        align-self: center;
    }

    // LARGE + MEDIUM
    @media screen and (min-width: $md-minwidth) {
        padding: 1em 2.5em;
    }

}

.restaurant-menu__content {

    display: flex;

    .cards {
        flex-direction: column;
        row-gap: 2em;
    }

    // animation : width growing
    .card:first-child {
        @include widthGrowingAnimation(2s);
    }
    .card:nth-child(2) {
        @include widthGrowingAnimation(3s);
    }
    .card:last-child {
        @include widthGrowingAnimation(4s);
    }

    // LARGE
    @media screen and (min-width: $lg-minwidth) {
        flex-direction: row;
        justify-content: space-between;

        .menu-container {
            width: 32%;
        }

        .cards {
            width: 100%;
        }

    }

    // SMALL + MEDIUM
    @media screen and (max-width: $md-maxwidth) {

        flex-direction: column;

        .menu-container {
            display: flex;
            flex-direction: column;
        }

        .cards {
            flex-direction: column;
        }

    }

}
