.restaurants {
    padding: 10px;
    

}

.location {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    font-weight: 400;
    background-color: $lightgrey;
    min-height: 60px;
    

    .location__icon {
        font-size: 25px;
        transform: translateX(-20px);
    }

    .location__text {
        color: $dark;
    }

}

.presentation {
    display: flex;
    flex-direction: column;
    text-align: center;

    background-color:$lightgrey2;
    padding: 1em 3em;


    h1, h2 {
        margin: 0;
        margin-bottom: 10px;
    }
    

    h1 {
        font-family: 'Roboto';
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
        font-weight: 100;
    }
}

.card-howitworks {

}

.card-restaurant {
    flex-direction: column;
}