.card-restaurant-intro {
    flex-direction: column;

    height: $restaurant-intro__card-height;

    overflow: hidden;

    position: relative;

    .card__alert {
        position: absolute;
        right: 1em;
        top: 1em;

        padding: .5em .8em;
        border-radius: 3px;
        background-color: $turquoise;
        color: $green;
        font-size: 1em;
        font-weight: bold;
    }

    .card__image {
        flex: 1;
    }

    .card__body {
        height: $restaurant-intro__card__body-height;

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        background-color: white;
    }

    .card__title {
        font-size: 1.2em;
        font-weight: bold;
    }

    .card__subtitle {
        font-size: 1.1em;
        font-weight: 300;
    }

    .fa-heart {
        font-size: 1.8em;
    }

}

