.card-restaurant-menu {
    width: 100%;
    height: $restaurant__card-menu-height;
    justify-content: center;
    background-color: white;
    overflow: hidden;

    .card__body {
        display: flex;
        padding: 1em 1.5em;
        
        flex: 1;
        
        .card__text {
            flex-basis: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        
            .card__title {
                font-size: 1.2em;
                font-weight: bold;
            }
        
            .card__subtitle {
                font-size: 1em;
                font-weight: 300;
            }

        }

        .card__price {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            font-weight: bold;
            font-size: 1em;
        }

    }

    .card__validation { 
        justify-content: center;
        align-items: center;

        display: none;
        height: 100%;
        min-width: 60px;
        background-color: $turquoise;

        .fa-circle-check {
            color: white;
            font-size: 1.5em;
        }

    }

    &:hover {
        .card__validation {
            display: flex;
        }
    }


    // text-overflow with 3 dots
    .card__text {
        overflow: hidden; 

        .card__title, .card__subtitle {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden; 
        }
    }

}


@media screen and (max-width: $smallscreen-maxwidth) {

    .restaurant-menu {
        flex-direction: column;
    }

}